@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300&family=Quicksand&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,900&display=swap");

:root {
  --main: #ff0000;
  --secontry: #cf9292;
  --white: white;
  --gray: gray;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
a {
  color: var(--white);
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.indexbackground h2 {
  font-size: 75px;
  font-family: "Fira Sans", sans-serif;
  text-align: center;

  background: linear-gradient(
    to right,
    rgb(255, 0, 200) 20%,
    rgb(0, 162, 255),
    yellow 90%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.indexbackground h1 {
  font-size: 20px;
  margin: 10px;
  text-align: center;
  font-weight: lighter;
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-family: "Quicksand", sans-serif;
}

body {
  /* font-family: 'Inter', sans-serif;
    font-family: 'Inter', sans-serif;
font-family: 'Quicksand', sans-serif;*/
}
/*
login & Registration form
*/
.indexbackground {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  background: url(../img/bg1.jpg) no-repeat center;
  background-size: cover;
}
.indexbackground ul {
  width: 100%;

}
 
.indexbackground li {
  position: relative;
  left: 75%;
  float: left;
  margin: 20px;
}
.indexbackground button {
  margin-top: -10px;
  width: 70px;
  height: 30px;
  border-radius: 20px;
  background: var(--main);
  border: none;
  color: var(--white);
}




.landingbtn {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landingbtn button {
  width: 150px;
  height: 50px;
  margin: 10px 30px;
  background: linear-gradient(
    to bottom right,
    rgb(0, 0, 0) 20%,
    rgb(97, 0, 0) 90%
  );
  border-radius: 20px;
  border: 1px dashed white;
  font-size: 15px;
  font-weight: bolder;
}
.loginbackground {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/bg2.jpg) no-repeat center;
  background-size: cover;
}
.registrationbox {
  height: auto;
  width: 400px;
  background: #ffffffd5;
  border-radius: 20px;
  padding: 20px;
  position: absolute;
}
.registrationbox h1 {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 10px;

}
.registrationbox label {
  margin-left: 20px;
  font-family: "Inter", sans-serif;
}
.registrationbox input {
  width: 200px;
  height: 25px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 10px 0 10px 25px;
  padding: 10px;
  background-color: #ffffffd5;
}

.registrationbox button {
  margin: 10px 0 0 60%;
  background: var(--main);
  border: none;
  padding: 10px;
  border-radius: 20px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-family: "Quicksand", sans-serif;

 
}



/******************
*******************
resposive
*******************
*******************/
@media (max-width: 600px) {
  .indexbackground li {
    left: 12%;
    
  }
  .indexbackground h2 {
    margin-top: 50px;
    font-size: 33px;
  }

  .indexbackground h1 {
    font-size: 12px;
  }
  .landingbtn button {
    width: 130px;
    height: 50px;
    margin: 10px 30px;
  }

  
}
